.box4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 270px;

    padding: 0%;
    margin: 0%;
}

.inline{
    display: inline;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    position: relative;
    left: 10%;
    transform: translate(auto, -30%);
}

.profile-name {

    font-size: 30px;

    color: #ffffff;
    line-height: 43px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

    width: 400px;
    height: 50px;


    border: 1px solid transparent;
    margin: auto;
    position: absolute;
    top: 10%;
    text-indent: 5px;
    left: 70%;
    transform: translate(-50%);
}

.form1 {
    box-sizing: border-box;
    position: absolute;
    left: 32.86%;
    right: 32.86%;
    top: 32.96%;
    bottom: 32.96%;
}

.form1 input[type="text"]::placeholder {
    color: #9e9683;
}

.form input[type="text"].ng-touched {
    --border-radius2: 12px;
    --gradient-color1: linear-gradient(180deg, #7B72CC 0%, #DC0078 33.33%, #3871D6 100%);
    --color2: linear-gradient(to bottom, #141923, #141923);

    border: solid 1.5px transparent;
    border-radius: var(--border-radius2);
    background-image: var(--color2), var(--gradient-color1);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form1 input[type="text"], .form1 input[type="number"] {
    --border-radius2: 12px;
    --gradient-color1: linear-gradient(180deg, #7B72CC 0%, #DC0078 33.33%, #3871D6 100%);
    --color2: linear-gradient(to bottom, #141923, #141923);


    outline: none;

    box-sizing: border-box;
    position: absolute;
    display: block;



    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* form dimensions */
    width: 300px;
    height: 45px;

    /* font */
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 0px;
    text-indent: 7px;

    color: #ffffff;
    /* form padding */
    border: solid 1.5px transparent;
    border-radius: var(--border-radius2);
    background-image: var(--color2), var(--gradient-color1);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.form1 input[type="number"]{
    top: 280%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form1 button[type="submit"] {
    --gradient-color1: linear-gradient(180deg, #7B72CC 0%, #DC0078 33.33%, #3871D6 100%);
    --color2: linear-gradient(to bottom, #141923, #141923);

    box-sizing: border-box;
    position: absolute;

    width: 155px;
    height: 45px;

    padding: 0px;

    border-radius: 43.48px;

    color: #ffffff;


    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 16px;
    line-height: 24px;

    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: solid 0.7px transparent;
    background-image: var(--color2), var(--gradient-color1);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.btn-disabled {
    background-color: gray;
    color: #ffffff;
    border: solid gray 0.7px;
}

/* Tab View */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .box4{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: 500px;
        height: 270px;
    
        padding: 0%;
        margin: 0%;
    }
    
    .inline{
        display: inline;
    }
    
    .avatar {
        width: 100px;
        height: 100px;
        border: 1px solid transparent;
        position: relative;
        left: 10%;
        transform: translate(auto, -30%);
    }
    
    .profile-name {
    
        font-size: 30px;
    
        color: #ffffff;
        line-height: 43px;
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    
        width: 400px;
        height: 50px;
    
    
        border: 1px solid transparent;
        margin: auto;
        position: absolute;
        top: 10%;
        text-indent: 5px;
        left: 70%;
        transform: translate(-50%);
    }
    
    .form1 {
        box-sizing: border-box;
        position: absolute;
        left: 32.86%;
        right: 32.86%;
        top: 32.96%;
        bottom: 32.96%;
    }
    
    .form1 input[type="text"]::placeholder {
        color: #9e9683;
    }
    
    .form input[type="text"].ng-touched {
        --border-radius2: 12px;
        --gradient-color1: linear-gradient(180deg, #7B72CC 0%, #DC0078 33.33%, #3871D6 100%);
        --color2: linear-gradient(to bottom, #141923, #141923);
    
        border: solid 1.5px transparent;
        border-radius: var(--border-radius2);
        background-image: var(--color2), var(--gradient-color1);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    
    .form1 input[type="text"], .form1 input[type="number"] {
        --border-radius2: 12px;
        --gradient-color1: linear-gradient(180deg, #7B72CC 0%, #DC0078 33.33%, #3871D6 100%);
        --color2: linear-gradient(to bottom, #141923, #141923);
    
    
        outline: none;
    
        box-sizing: border-box;
        position: absolute;
        display: block;
    
    
    
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        /* form dimensions */
        width: 300px;
        height: 45px;
    
        /* font */
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        padding: 0px;
        text-indent: 7px;
    
        color: #ffffff;
        /* form padding */
        border: solid 1.5px transparent;
        border-radius: var(--border-radius2);
        background-image: var(--color2), var(--gradient-color1);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    
    .form1 input[type="number"]{
        top: 280%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .form1 button[type="submit"] {
        --gradient-color1: linear-gradient(180deg, #7B72CC 0%, #DC0078 33.33%, #3871D6 100%);
        --color2: linear-gradient(to bottom, #141923, #141923);
    
        box-sizing: border-box;
        position: absolute;
    
        width: 155px;
        height: 45px;
    
        padding: 0px;
    
        border-radius: 43.48px;
    
        color: #ffffff;
    
    
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        font-size: 16px;
        line-height: 24px;
    
        top: 500%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        border: solid 0.7px transparent;
        background-image: var(--color2), var(--gradient-color1);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    
    .btn-disabled {
        background-color: gray;
        color: #ffffff;
        border: solid gray 0.7px;
    }
}